@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Kendo Datasource";
}
<ul>
    <li><a href="~/observableobject">ObservableObject</a></li>
    <li><a href="~/datasource">DataSource</a></li>
</ul>
