@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home Page";
}
<form id="test" action="/" target="_blank" method="post" class="form-horizontal">
</form>
@section footer
{
    <script src="~/assets/js/observableobject.js" crossorigin="anonymous"></script>
}